#modalQueries .search-param {
	width: 100%;
}

#modalQueries .search-param .param {
	width: 30%;
}

#modalQueries .search-param .param-value {
	width: 60%;
}

#modalQueries .search-param .remove-param {
	margin-left: 3px;
}