.pending-list-item {
	display: flex;
    flex-direction: row;
}

.pending-list-col {
	flex: 1 1 auto;
}

.pending-list-col:first-child {
	width: 10%;
	padding: 0 10% 0 5%;
}

.pending-title {
	display: block;
}

.pending-venue {
	margin-right: 1rem;
}

.pending-date {
}