<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Publication Manager</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/harvest.pending.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/harvest.queries.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='taffydb/taffy.js') }}"></script>
    <script src="{{ url_for('static', filename='js/harvest.js') }}"></script>
    <script src="{{ url_for('static', filename='js/harvest.data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/harvest.model.js') }}"></script>
    <script src="{{ url_for('static', filename='js/harvest.shell.js') }}"></script>
    <script src="{{ url_for('static', filename='js/harvest.queries.js') }}"></script>
    <script src="{{ url_for('static', filename='js/harvest.pending.js') }}"></script>
    <script src="{{ url_for('static', filename='js/harvest.modal.js') }}"></script>

  </head>
  <body data-shortid="{{ user.short_id }}">
      <h1>{{ user.rabid }}</h1>
        {% for source, data in counts.items() %}
          <div class="api-source" data-rabid="{{ source }}">
            <h2>{{ data.name }}</h2>
            <div class="panel-group" id="{{ source }}-accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="{{ source }}-queries">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ source }}-queries-collapse" aria-expanded="true" aria-controls="{{ source }}-queries-collapse">Searches</a>
                  </h4>
                </div>
                <div id="{{ source }}-queries-collapse" class="panel-collapse collapse queries-collapse" role="tabpanel" aria-labelledby="{{ source }}-queries-collapse">
                  <ul class="list-group">
                    <li class="list-group-item"><button type="button" class="btn btn-primary new-query-modal-btn" data-harvest-source="{{ source }}">Add new search</button>
                  </ul>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="{{ source }}-pending">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ source }}-pending-collapse" aria-expanded="true" aria-controls="{{ source }}-pending-collapse">Pending <span class="badge">{{ data.count }}</span>
                    </a>
                  </h4>
                </div>
                <div id="{{ source }}-pending-collapse" class="panel-collapse collapse pending-collapse" role="tabpanel" aria-labelledby="{{ source }}-pending-collapse" data-pending-count="{{ data.count }}">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalDetailsLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalDetailsLabel">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table id="detailsTable" class="table">
                  <tbody id="detailsTableBody">
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modalQueries" tabindex="-1" role="dialog" aria-labelledby="modalQueriesLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalQueriesLabel">Search Parameters</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="modalQueriesForm">
                  
                </form>
                <button id="addFieldButton" type="button" class="btn btn-primary">&plus;</button>
              </div>
              <div class="modal-footer">
                <a href="#">Test this Search</a>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>

      <script>
        $( document ).ready(function() {
          var config_map = {{ config|tojson|safe }};
          harvest.initModule( $('body'), config_map );
        });
      </script>
  </body>
</html>
