<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Publication Manager</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  </head>
  <body data-shortid="{{ user.short_id }}">
      <h1>{{ user.rabid }}</h1>
        {% for source, data in counts.items() %}
          <div>
            <h2>{{ data.name }}</h2>
            <div class="panel-group" id="{{ source }}-accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="{{ source }}-pending">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ source }}-pending-collapse" aria-expanded="true" aria-controls="{{ source }}-pending-collapse">Pending <span class="badge">{{ data.count }}</span>
                    </a>
                  </h4>
                </div>
                <div id="{{ source }}-pending-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ source }}-pending-collapse" data-pending-count="{{ data.count }}">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      <script>
        $(document).ready(function(){

          var shortid = $('body').data('shortid');

          var lister = function( jsonList, target ) {
            var items = [];
            $.each( jsonList, function( i, jData ) {
              var jDict = JSON.parse(jData);
              items.push( '<li class="list-group-item" data-source="' + jDict.source + '" data-exid="' + jDict.exid + '">' + jDict.title + ' <em>' + jDict.venue.abbrv + '</em> ' + jDict.date.fulldate + '</li>' );
            });

            $( "<ol/>", {
              class: "list-group",
              html: items.join( "" )
            }).appendTo( target );
          };


          (function() {
            var target = '#1b404f6f24b449688bed96f0b2587d4d-pending-collapse';
            var count = $(target).data('pending-count');
            if (count > 0) {
              $.ajax({
                dataType: "json",
                crossDomain: true,
                url: 'http://localhost:8000/rabpubs/' + shortid + '/pending/pubmed',
                success: function( data ) {
                  lister( data, target );
                }
              });
            }
          })();

          (function() {
            var target = '#70209659b6af4980b17ef39884160406-pending-collapse';
            var count = $(target).data('pending-count');
            if (count > 0) {
              $.ajax({
                dataType: "json",
                crossDomain: true,
                url: 'http://localhost:8000/rabpubs/' + shortid + '/pending/wos',
                success:  function( data ) {
                  lister( data, target );
                }
              });
            }
          })();

          (function() {
            var target = '#c53746b63fe848bbac0a1ac0bf559b27-pending-collapse';
            var count = $(target).data('pending-count');
            if (count > 0) {
              $.ajax({
                dataType: "json",
                crossDomain: true,
                url: 'http://localhost:8000/rabpubs/' + shortid + '/pending/academic_analytics',
                success: function( data ) {
                  lister( data, target );
                }
              });
            }
          })();

        });
      </script>
  </body>
</html>