<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Publication Manager</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  </head>
  <body>
      <h1>{{ user.rabid }}</h1>
        {% for source, count in counts.items() %}
          <div>
            <h2>{{ source }} <span class="badge badge-pill badge-success">{{ count }}</span></h2>
        {% endfor %}
  </body>
</html>